{% from "macros.j2" import write_list %}
{% set prefix = '/interface bridge port add bridge=' + switch_bridge_name %}

{% for port, data in switch_ports | dictsort %}
{{ prefix }} comment={{ data.name | mikrotik_escape }} edge={{ data.edge | default('yes') }} ingress-filtering=yes interface={{ port | mikrotik_escape }} learn=yes{% if data.pvid is defined %} pvid={{ data.pvid }}{% endif %} restricted-role={{ data.edge | default('yes') }} restricted-tcn={{ data.edge | default('yes') }}
{% endfor %}
